APP_VERSION="v1"
APP_MODE="micro"
APP_HOSTNAME="http://auth.maintained.local"

# ADMIN CREDENTIALS
ADMIN_USERNAME="johndoe@email.com"
ADMIN_PASSWORD="Pass123"

# DATABASE
DB_HOST="postgres-db"
DB_PORT="5432"
DB_USER="devuser"
DB_PASSWORD="Pass123"
DB_NAME="maintainerd"
DB_SSLMODE="disable"
DB_TABLE_PREFIX="md_"

# REDIS
REDIS_CONNECTION_STRING="redis://:Password%4022@redis:6379"
REDIS_HOST="redis-db"
REDIS_PORT="6379"
REDIS_PASSWORD="Pass123"

# JWT
JWT_PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----
MIIEpQIBAAKCAQEA32AdyHFwokfz84be/LvsnXp1D7cdrgCHG1NKsC1JsR33ssxi
80ai6IhtTt+71PpL7ZxVLNUxK2QmFNfwT6zljYzTAle72J6PxWlDszICKMjW+ECx
tmzVw0rQd2yQQhjJm5Rb8LZ9V0AFZrLPDF5uEiHp2cbMQyT5bFpmIxG7ncyH2AqK
3cQ5FgAFJ0NhbMkGNoqWkGOLS/Z+lLJkjp9i8EgdNE001VIiyXnwW0Zgpd8ejQIo
cfqDDC+9s3HpIgBWyJPc9hdnavuo/1pzo/lNxaX+ezYKg42GRqWZcbUEuKy+5nJ6
7A2Ldrn8mDQDlmQiFyiPbeCpE9BhMw9G7i7rXQIDAQABAoIBABp3U/AM6NCBf/kJ
sN/3ECj0emw7QQv9ygRF0SKgqwuORmvr5Yl3hBPTHkhrH+EzKs3jaQAf3myKuCxe
DX4TOTuVROcRKBOZbeVw/HF96l2UtkvBtoyrxoQWGC8eMNV0BGcno+EYbi9pSXqK
kxefFKGXXRLNiCQofFkHOPTMxBMFESMIvRcSxVze8UbXDMnkSjbW+UM+s9kEVut/
VrPQbAZOER9XVlC7Q502Je6cxT/gwDsFLQNF4G9XVpa2o04Xk+uweRsWX3/WM/3e
6xGVNHW3B2jaKH7YODg7vWUPc15Lw0tEsC2RQYM9/mf2GNragpqioKjK9dBsMIjA
I1rDpk0CgYEA8rZIFRv8GysG8W0Z3GSo4RxhF1CAlsZ1DG05MzFc+XGCBg5iyPk6
Zi0Q8F8/wuJlEbrYo4sISLcrLDNAZnpyglEGqxYIy6P8nANHALaWjYuTzMsqutVR
bk3k9AK+Hrj5S5YC8JdBxr94TfrnJMxG50EnaVuApnbTKpc8W7R84fcCgYEA65rS
6DrHzkckhky6qLSdKGUPamgCooFYb2xWAkfCiGVJQf5fEzSPmUDMdgT4WHFJUbMX
rqAZxEPQ19qNbQDNsH1XTFSVsaDlAuTWEE1ZDoeQU8ftdp3CiW8kwC1tovt6CG3x
a9wmbdPbQr5Ai88+xtCwXcZL4SM8jBCb5Bt/CEsCgYEA1ISXCSS/0moSYkLNahUZ
akKXIPr0HREYXBEnDJQkfKXO286s4JyZbe337wD3q4TgSm34Uvrh/gmkW8dklFaS
/VhFJnjcqrKj9VdJTG6T1MxqVd9vQriV3KeH2cCtB+mfH3fyiwdmKMhuZplS2v2i
98os4CumshtJOvnBd+rJjnECgYEA5+FgFCnN/qosO3WG/IWOa3RTYMFvXmr5E+jH
GcVwo3c0S5xEDI3ditKoqLsphToyFBO0iiyOT4kDIX67VH3G8x3ZbomNLt6QpnF8
cVz++nrXxG1vvB92mHbn77CGSDNDHsq+Ig7xT4SENsMymadmPJymCBUjFzjr3Vp3
Y2DgfNMCgYEA4G8PgcWCuwTwdBJWbBIzQglX+GokAg7hSz1zGKqOYU4KBqcAP/gq
kbCN4GwgSYsQX4FmIhUInxIuJX5gcJdwAuQ/Un0xhqhKUJyLtyykx12h25yjqGK4
sCdhtZNPEErWbWC1CvaextAJA4w6PZFHVM4FP+N7LX6FOf+o4mSRCPg=
-----END RSA PRIVATE KEY-----"
JWT_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----
MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA32AdyHFwokfz84be/Lvs
nXp1D7cdrgCHG1NKsC1JsR33ssxi80ai6IhtTt+71PpL7ZxVLNUxK2QmFNfwT6zl
jYzTAle72J6PxWlDszICKMjW+ECxtmzVw0rQd2yQQhjJm5Rb8LZ9V0AFZrLPDF5u
EiHp2cbMQyT5bFpmIxG7ncyH2AqK3cQ5FgAFJ0NhbMkGNoqWkGOLS/Z+lLJkjp9i
8EgdNE001VIiyXnwW0Zgpd8ejQIocfqDDC+9s3HpIgBWyJPc9hdnavuo/1pzo/lN
xaX+ezYKg42GRqWZcbUEuKy+5nJ67A2Ldrn8mDQDlmQiFyiPbeCpE9BhMw9G7i7r
XQIDAQAB
-----END PUBLIC KEY-----"
JWT_ISSUER="http://auth.maintained.local"
